.sec-contact{
    padding-top: 120px;
    padding-bottom: 70px;
}

.contact-section {
      background-image: url(../images/coms/contact-bg.png);
      background-size: cover;
      background-position: center;
      height: 100vh;
}
.contact-form{
  background-color: #F8F9FA;
  padding: 20px;
}
.bx-form-sec2{
  margin-top: -112px;
}
.st-cus-space1{
  padding-top: 70px;
  padding-bottom: 50px;
}


