.footer-section {
  padding-top: 2rem;
  background: #fff;
  color: #000;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
}

.footer-links h6 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.footer-links a {
  display: block;
  margin: 0.25rem 0;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: goldenrod;
}

.footer-bottom {
  /* margin-top: 2rem; */
  font-size: 13px;
  color: #444;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
