/* Original menu-bold style */
/* .menu-bold {
  font-size: 92px !important;
  font-weight: 900 !important;
  line-height: 70px !important;
  transition: all 0.3s ease; 
  color: #000 !important;
} */

/* Hover effect for menu-bold */
/* .menu-bold:hover {
  color: #000 !important; 
} */

.logo{
  width: 150px;
}


/* For the custom alignment of the menu */
.menu-custom {
  text-align: right;
}

/* Offcanvas styles */
.offcanvas.offcanvas-end {
  width: 100% !important;
}

/* Navbar toggler styles */
@media (min-width: 768px) {
  .navbar-expand-md .navbar-toggler {
      /* display: block !important; */
      border: unset !important;
      box-shadow: unset !important;
  }
}


.header {
    position: fixed !important;
    top: 0;
    padding: 10px 16px;
    background: #fff;
    width: 100%;
    /* color: #f1f1f1; */
    z-index: 999999;
}

button.text-white.ml-auto.navbar-toggler {
  display: none !important;
}
.desktop-view{
  display: block;
}
.destop-font {
  font-size: 18px !important;
  font-weight: 600 !important;
  margin: 0 20px !important;
}