@media only screen and (max-width: 600px) {
    .menu-bold {
        font-size: 24px !important;
        font-weight: 300 !important;
        transition: all 0.5s ease;
    }
    .heading-bold {
        font-size: 32px;
        line-height: 38px;
    }
    p{
      font-size: 14px;
    }
    /* banner slide sectio */
    .slide-mb-1 {
      background-color: #F3F4F1;
    }
     .slide-mb-2 {
      background-color: #F1F0ED;
    }
     .slide-mb-3 {
      background-color: #dcdcd6;
    }
    .slide-content {
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        padding: 20px;
        height: 130px;
    }
    .slide-content h2 {
       font-size: 22px;
     }

     /* ph */
     .pt-st{
      padding-top: 30px;
     }

    .menu-custom {
       margin-top: 100px;
    }
    .heading-bold2 {
       font-weight: regular;
       font-size: 38px;
    }
    .logo {
     width: 120px;
    }

    .job-sec {
     padding-bottom: 0px;
    }
    img.ch-j {
      width: 90%;
      left: 0px;
    }
    .job-head {
      font-size: 15px;
    }
    /* contact page */
    .st-cus-space1{
      padding-top: 20px;
      padding-bottom:0px;
    }
    .bottom-right-str {
      right: 0px;
      bottom: 20px;
    }
    .heading-bold3{
     font-size: 48px;
    }
   img.arc-st {
      position: absolute;
      right: -9px;
      bottom: 30px;
      width: 180px;
    }  
   a.fs-5 {
    font-size: 18px !important;
    padding-right: 15px;
   }
  .spc-mb {
    padding: 40px 0px !important;
  }
  img.soonarc {
      width: 80px;
      position: absolute;
      right: -26px;
      top: 0px;
  }
  .ft-mobile-peple{
    font-size: 72px;
    padding-bottom: 30px;
  }
  .job-sec2 {
    margin-top: 20px;
  } 
  .mob-spc-bt {
    padding-bottom: 40px;
  }  
  .join-team-section {
    padding: 450px 0px;
  } 
  .btn-sub {
    font-size: 18px !important;
   }
 
}

@media only screen and (min-width: 600px) {
  .destopk-font {
    font-size: 14px !important;
  }
   .heading-bold2 {
    font-size: 72px;
   }
   .heading-bold {
    font-size: 38px;
   } 
   .overlaytxt2 {
    position: absolute;
    top: 85px;
    right: 40px;
   }
    .pt-st {
     padding-top: 0px;
    }
   .job-head {
     font-size: 32px;
   } 
   img.ch-j {
    left: 0px;
  }  
   img.mt-moon {
    position: relative;
    width: 60%;
    right: -40px;
    top: -80px;
  }
  .join-team-section {
    height: 530px;
    background-position: unset;
    padding: unset;
  }
  .bottom-right-str {
    right: 40px;
  }
   
}

@media only screen and (min-width: 768px) {
  .desktop-font {
    font-size: 14px !important;
    padding: 0px !important;
  }
   .heading-bold2 {
    font-size: 72px;
   }
   .heading-bold {
    font-size: 38px;
   } 
   .overlaytxt2 {
    position: absolute;
    top: 85px;
    right: 40px;
    }
    .pt-st {
     padding-top: 0px;
    }
    .job-head {
     font-size: 32px;
   } 
   img.ch-j {
    left: 0px;
  }  
  img.mt-moon {
    position: relative;
    width: 60%;
    right: -40px;
    top: -80px;
  }
  .join-team-section {
    height: 530px;
    background-position: unset;
    padding: unset;
  }
 .bottom-right-str {
    right: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .heading-bold2 {
    font-size: 94px;
   }
   .heading-bold {
    font-size: 64px;
   } 
   .overlaytxt, .overlaytxt2 {
    position: absolute;
    top: 200px;
    right: 212px;
   }  
   .pt-st {
    padding-top: 200px;
   }   
   .job-head {
    font-size: 42px;
   } 
   img.ch-j {
    left: 135px;
    position: absolute;
    top: -162px;
    width: 427px;
   }
    img.mt-moon {
    position: relative;
    width: 62%;
    right: -70px;
    top: -145px;
  }
   .join-team-section {
    height: 920px;
    background-position: unset;
    padding: unset;
  }
  .bottom-right-str {
    right: 132px;
  }
}

@media only screen and (min-width: 1200px) {
  .desktop-font {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin: 0 12px !important;
  }
   .heading-bold2 {
    font-size: 94px;
   }
   .heading-bold {
    font-size: 64px;
   } 
   .overlaytxt, .overlaytxt2 {
    position: absolute;
    top: 200px;
    right: 212px;
   }  
   .pt-st {
    padding-top: 200px;
   } 
   .job-head {
    font-size: 42px;
   } 
   img.ch-j {
    left: 135px;
    position: absolute;
    top: -162px;
    width: 427px;
   }
   img.mt-moon {
    position: relative;
    width: 62%;
    right: -70px;
    top: -145px;
  }
  .join-team-section {
    height: 920px;
    background-position: unset;
    padding: unset;
  }
  .bottom-right-str {
    right: 132px;
  }
}


@media only screen 
  and (min-width: 1680px) 
  and (min-height: 1050px) {
   .join-team-section {
      height: 1030px;
      background-position: unset;
      padding: unset;
  }
}

@media only screen 
  and (min-width: 1920px) 
  and (min-height: 1080px) {
  .slide-content {
    left: 16%;
  }
  .left-panel{
    padding-left: 190px !important;
  }
  .join-team-section {
    height: 1030px;
    background-position: unset;
    padding: unset;
  }
  .overlay-text {
    position: absolute;
    left: 16%;
  }
  .overlaytxt {
    position: absolute;
    top: 314px;
    right: 509px;
  }
  .overlaytxt2 {
    position: absolute;
    top: 340px;
    right: 460px;
  }
  .team-member {
    height: 700px;
  }
  .bottom-right-str{
    right:275px;
  }
  img.soonarc {
    width: 120px;
    position: absolute;
    right: -14px;
    top: 10px;
  }
  .slider-height{
     height: 1200px;
  }
  img.arc-st {
    position: absolute;
    right: 130px;
    bottom: -35px;
  }
}  



