/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu-bold {
        font-size: 24px !important;
        font-weight: 300 !important;
        transition: all 0.5s ease;
    }
    .heading-bold {
        font-size: 32px;
        line-height: 38px;
    }
    p{
      font-size: 16px;
    }
    /* banner slide sectio */
    .slide-mb-1 {
      background-color: #F3F4F1;
    }
     .slide-mb-2 {
      background-color: #F1F0ED;
    }
     .slide-mb-3 {
      background-color: #D8D8D0;
    }
    .slide-content {
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        padding: 20px;
    }
    .slide-content h2 {
       font-size: 22px;
     }

     /* ph */
     .pt-st{
      padding-top: 30px;
     }

    .menu-custom {
       margin-top: 100px;
    }
    .heading-bold2 {
       font-weight: regular;
       font-size: 42px;
    }
    .logo {
     width: 120px;
    }

    .job-sec {
     padding-bottom: 0px;
    }
    img.ch-j {
      width: 90%;
      left: 0px;
    }
    .job-head {
      font-size: 24px;
    }
    /* contact page */
    .st-cus-space1{
      padding-top: 20px;
      padding-bottom:0px;
    }
   .banner-slider {
      height: 440px ;
    }
    .bottom-right-str {
      right: 0px;
      bottom: 20px;
    }
    .overlayteam {
      height: 60%;
    }
    .heading-bold3{
     font-size: 48px;
    }
    img.arc-st {
    position: absolute;
    right: 30px;
    bottom: -14px;
    width: 70px;
   }
   a.fs-5 {
    font-size: 18px !important;
   }
  .spc-mb {
    padding: 40px 0px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .destopk-font {
    font-size: 14px !important;
  }
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .desktop-font {
    font-size: 14px !important;
    padding: 0px !important;
  }
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .desktop-font {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin: 0 12px !important;
  }
}


@media only screen 
  and (min-width: 1920px) 
  and (min-height: 1080px) {
  .slide-content {
    left: 16%;
  }
  .left-panel{
    padding-left: 190px !important;
  }
  .join-team-section {
    height: 100vh;
    background-position: unset;
    padding: unset;
  }
  .overlay-text {
    position: absolute;
    left: 16%;
  }
  .overlaytxt {
    position: absolute;
    top: 314px;
    right: 509px;
  }
  .overlaytxt2 {
    position: absolute;
    top: 340px;
    right: 460px;
  }
  .team-member {
    height: 700px;
  }
} 